@import "../variables";
.footer {
  width: 100%;
  background-color: #757575;
  color: #FFFFFF;
  flex: 0 0 auto;
  &__container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
}
