// Body
$body-bg: #ffffff;

// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 120%;

// Colors
$colorText: #1B1B1B;
$colorTextHover: #356EAD;
$colorWhite: #ffffff;
$def: #6AA4FB;
$grey-dark: #757575;


//our variables



