@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import "nullstyle";
@import "variables";
@import "mixins";
@import "header/header";
@import "footer/footer";
@import "content/home";
@import "content/congratulation";
@import "content/chat";
@import "auth/auth";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: #ffffff;
    color: $colorText;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height-base;
    margin-bottom: 30px;
}

#app {
    height: 100%;
}

.container {
    max-width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    @media (min-width: 768px) {
        padding-right: 50px;
        padding-left: 50px;
    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }
}

.w {
    &full {
        width: 100%;
    }
    @for $i from 10 through 500 {
        &#{1 * $i} {
            width: 0.1rem * $i;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    width: 100%;
    flex: 1 0 auto;
}

.input {
    @include input(46px)
}

.btn220 {
    @include btn(220px, 46px);
}
.btn300 {
    @include btn(300px, 46px);
}

.ic {

    // Sizes
    @for $i from 10 through 70 {
        &#{1 * $i} {
            width: 0.1rem * $i;
            height: 0.1rem * $i;
        }
    }

    // Colors
    &white {
        fill: #FFFFFF;
    }

    &black {
        fill: #757575;
    }

    &def {
        fill: $def;
    }
}
