@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import "nullstyle";
@import "variables";
@import "mixins";
@import "header/header";
@import "footer/footer";
@import "content/index__style";
@import "content/congratulation";
@import "content/chat";
@import "auth/auth";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: #ffffff;
  color: $colorText;
}

#app {
  height: 100%;
}

.container {
  //max-width: 1200px;
  padding-right: 30px;
  padding-left: 30px;
  margin: auto;
}

.wfull {
    width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.input {
    @include input(46px)
}

.btn {
    @include btn(220px, 46px);
}
