@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import "nullstyle";
@import "header/header";
@import "footer/footer";
@import "content/index__style";
@import "content/congratulation";
@import "variables";
@import "content/chat";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Teko', sans-serif;
}

#app {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: $colorText;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.ws {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.btn {
  background-color: $backgroundButton;
  padding: 20px;
  font-size: 18px;
  color: $colorButton;
  outline: none;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  //display: block;
}

.none {
  display: none;
}

