.d-flex {
  display: flex;
}

.d-iflex {
  display: inline-flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flexw {
  flex-wrap: wrap;
}

.flexcol {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}

.jcc {
  justify-content: center;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

