.mminus1 {
  margin: -1rem;
}

.mminus2 {
  margin: -1.5rem;
}

.mauto {
  margin: auto;
}

.m1 {
  margin: 0.1rem;
}

.m2 {
  margin: 0.2rem;
}

.m3 {
  margin: 0.3rem;
}

.m4 {
  margin: 0.4rem;
}

.m5 {
  margin: 0.5rem;
}

.m6 {
  margin: 0.6rem;
}

.m7 {
  margin: 0.7rem;
}

.m8 {
  margin: 0.8rem;
}

.m9 {
  margin: 0.9rem;
}

.m10 {
  margin: 1rem;
}

.m11 {
  margin: 1.1rem;
}

.m12 {
  margin: 1.2rem;
}

.m13 {
  margin: 1.3rem;
}

.m14 {
  margin: 1.4rem;
}

.m15 {
  margin: 1.5rem;
}

.m16 {
  margin: 1.6rem;
}

.m17 {
  margin: 1.7rem;
}

.m18 {
  margin: 1.8rem;
}

.m19 {
  margin: 1.9rem;
}

.m20 {
  margin: 2rem;
}

.m21 {
  margin: 2.1rem;
}

.m22 {
  margin: 2.2rem;
}

.m23 {
  margin: 2.3rem;
}

.m24 {
  margin: 2.4rem;
}

.m25 {
  margin: 2.5rem;
}

.m26 {
  margin: 2.6rem;
}

.m27 {
  margin: 2.7rem;
}

.m28 {
  margin: 2.8rem;
}

.m29 {
  margin: 2.9rem;
}

.m30 {
  margin: 3rem;
}

.mlminus1 {
  margin-left: -1rem;
}

.mlminus2 {
  margin-left: -1.5rem;
}

.mlminus3 {
  margin-left: -2rem;
}

.mlauto {
  margin-left: auto;
}

.ml1 {
  margin-left: 0.1rem;
}

.ml2 {
  margin-left: 0.2rem;
}

.ml3 {
  margin-left: 0.3rem;
}

.ml4 {
  margin-left: 0.4rem;
}

.ml5 {
  margin-left: 0.5rem;
}

.ml6 {
  margin-left: 0.6rem;
}

.ml7 {
  margin-left: 0.7rem;
}

.ml8 {
  margin-left: 0.8rem;
}

.ml9 {
  margin-left: 0.9rem;
}

.ml10 {
  margin-left: 1rem;
}

.ml11 {
  margin-left: 1.1rem;
}

.ml12 {
  margin-left: 1.2rem;
}

.ml13 {
  margin-left: 1.3rem;
}

.ml14 {
  margin-left: 1.4rem;
}

.ml15 {
  margin-left: 1.5rem;
}

.ml16 {
  margin-left: 1.6rem;
}

.ml17 {
  margin-left: 1.7rem;
}

.ml18 {
  margin-left: 1.8rem;
}

.ml19 {
  margin-left: 1.9rem;
}

.ml20 {
  margin-left: 2rem;
}

.ml21 {
  margin-left: 2.1rem;
}

.ml22 {
  margin-left: 2.2rem;
}

.ml23 {
  margin-left: 2.3rem;
}

.ml24 {
  margin-left: 2.4rem;
}

.ml25 {
  margin-left: 2.5rem;
}

.ml26 {
  margin-left: 2.6rem;
}

.ml27 {
  margin-left: 2.7rem;
}

.ml28 {
  margin-left: 2.8rem;
}

.ml29 {
  margin-left: 2.9rem;
}

.ml30 {
  margin-left: 3rem;
}

.mtminus1 {
  margin-top: -1rem;
}

.mtminus2 {
  margin-top: -1.5rem;
}

.mtminus3 {
  margin-top: -2rem;
}

.mtauto {
  margin-top: auto;
}

.mt1 {
  margin-top: 0.1rem;
}

.mt2 {
  margin-top: 0.2rem;
}

.mt3 {
  margin-top: 0.3rem;
}

.mt4 {
  margin-top: 0.4rem;
}

.mt5 {
  margin-top: 0.5rem;
}

.mt6 {
  margin-top: 0.6rem;
}

.mt7 {
  margin-top: 0.7rem;
}

.mt8 {
  margin-top: 0.8rem;
}

.mt9 {
  margin-top: 0.9rem;
}

.mt10 {
  margin-top: 1rem;
}

.mt11 {
  margin-top: 1.1rem;
}

.mt12 {
  margin-top: 1.2rem;
}

.mt13 {
  margin-top: 1.3rem;
}

.mt14 {
  margin-top: 1.4rem;
}

.mt15 {
  margin-top: 1.5rem;
}

.mt16 {
  margin-top: 1.6rem;
}

.mt17 {
  margin-top: 1.7rem;
}

.mt18 {
  margin-top: 1.8rem;
}

.mt19 {
  margin-top: 1.9rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt21 {
  margin-top: 2.1rem;
}

.mt22 {
  margin-top: 2.2rem;
}

.mt23 {
  margin-top: 2.3rem;
}

.mt24 {
  margin-top: 2.4rem;
}

.mt25 {
  margin-top: 2.5rem;
}

.mt26 {
  margin-top: 2.6rem;
}

.mt27 {
  margin-top: 2.7rem;
}

.mt28 {
  margin-top: 2.8rem;
}

.mt29 {
  margin-top: 2.9rem;
}

.mt30 {
  margin-top: 3rem;
}

.mrminus1 {
  margin-right: -1rem;
}

.mrminus2 {
  margin-right: -1.5rem;
}

.mrminus3 {
  margin-right: -2rem;
}

.mrauto {
  margin-right: auto;
}

.mr1 {
  margin-right: 0.1rem;
}

.mr2 {
  margin-right: 0.2rem;
}

.mr3 {
  margin-right: 0.3rem;
}

.mr4 {
  margin-right: 0.4rem;
}

.mr5 {
  margin-right: 0.5rem;
}

.mr6 {
  margin-right: 0.6rem;
}

.mr7 {
  margin-right: 0.7rem;
}

.mr8 {
  margin-right: 0.8rem;
}

.mr9 {
  margin-right: 0.9rem;
}

.mr10 {
  margin-right: 1rem;
}

.mr11 {
  margin-right: 1.1rem;
}

.mr12 {
  margin-right: 1.2rem;
}

.mr13 {
  margin-right: 1.3rem;
}

.mr14 {
  margin-right: 1.4rem;
}

.mr15 {
  margin-right: 1.5rem;
}

.mr16 {
  margin-right: 1.6rem;
}

.mr17 {
  margin-right: 1.7rem;
}

.mr18 {
  margin-right: 1.8rem;
}

.mr19 {
  margin-right: 1.9rem;
}

.mr20 {
  margin-right: 2rem;
}

.mr21 {
  margin-right: 2.1rem;
}

.mr22 {
  margin-right: 2.2rem;
}

.mr23 {
  margin-right: 2.3rem;
}

.mr24 {
  margin-right: 2.4rem;
}

.mr25 {
  margin-right: 2.5rem;
}

.mr26 {
  margin-right: 2.6rem;
}

.mr27 {
  margin-right: 2.7rem;
}

.mr28 {
  margin-right: 2.8rem;
}

.mr29 {
  margin-right: 2.9rem;
}

.mr30 {
  margin-right: 3rem;
}

.mbminus1 {
  margin-bottom: -1rem;
}

.mbminus2 {
  margin-bottom: -1.5rem;
}

.mbminus3 {
  margin-bottom: -2rem;
}

.mbauto {
  margin-bottom: auto;
}

.mb1 {
  margin-bottom: 0.1rem;
}

.mb2 {
  margin-bottom: 0.2rem;
}

.mb3 {
  margin-bottom: 0.3rem;
}

.mb4 {
  margin-bottom: 0.4rem;
}

.mb5 {
  margin-bottom: 0.5rem;
}

.mb6 {
  margin-bottom: 0.6rem;
}

.mb7 {
  margin-bottom: 0.7rem;
}

.mb8 {
  margin-bottom: 0.8rem;
}

.mb9 {
  margin-bottom: 0.9rem;
}

.mb10 {
  margin-bottom: 1rem;
}

.mb11 {
  margin-bottom: 1.1rem;
}

.mb12 {
  margin-bottom: 1.2rem;
}

.mb13 {
  margin-bottom: 1.3rem;
}

.mb14 {
  margin-bottom: 1.4rem;
}

.mb15 {
  margin-bottom: 1.5rem;
}

.mb16 {
  margin-bottom: 1.6rem;
}

.mb17 {
  margin-bottom: 1.7rem;
}

.mb18 {
  margin-bottom: 1.8rem;
}

.mb19 {
  margin-bottom: 1.9rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb21 {
  margin-bottom: 2.1rem;
}

.mb22 {
  margin-bottom: 2.2rem;
}

.mb23 {
  margin-bottom: 2.3rem;
}

.mb24 {
  margin-bottom: 2.4rem;
}

.mb25 {
  margin-bottom: 2.5rem;
}

.mb26 {
  margin-bottom: 2.6rem;
}

.mb27 {
  margin-bottom: 2.7rem;
}

.mb28 {
  margin-bottom: 2.8rem;
}

.mb29 {
  margin-bottom: 2.9rem;
}

.mb30 {
  margin-bottom: 3rem;
}

.p1 {
  padding: 0.1rem;
}

.p2 {
  padding: 0.2rem;
}

.p3 {
  padding: 0.3rem;
}

.p4 {
  padding: 0.4rem;
}

.p5 {
  padding: 0.5rem;
}

.p6 {
  padding: 0.6rem;
}

.p7 {
  padding: 0.7rem;
}

.p8 {
  padding: 0.8rem;
}

.p9 {
  padding: 0.9rem;
}

.p10 {
  padding: 1rem;
}

.p11 {
  padding: 1.1rem;
}

.p12 {
  padding: 1.2rem;
}

.p13 {
  padding: 1.3rem;
}

.p14 {
  padding: 1.4rem;
}

.p15 {
  padding: 1.5rem;
}

.p16 {
  padding: 1.6rem;
}

.p17 {
  padding: 1.7rem;
}

.p18 {
  padding: 1.8rem;
}

.p19 {
  padding: 1.9rem;
}

.p20 {
  padding: 2rem;
}

.p21 {
  padding: 2.1rem;
}

.p22 {
  padding: 2.2rem;
}

.p23 {
  padding: 2.3rem;
}

.p24 {
  padding: 2.4rem;
}

.p25 {
  padding: 2.5rem;
}

.p26 {
  padding: 2.6rem;
}

.p27 {
  padding: 2.7rem;
}

.p28 {
  padding: 2.8rem;
}

.p29 {
  padding: 2.9rem;
}

.p30 {
  padding: 3rem;
}

.pl1 {
  padding-left: 0.1rem;
}

.pl2 {
  padding-left: 0.2rem;
}

.pl3 {
  padding-left: 0.3rem;
}

.pl4 {
  padding-left: 0.4rem;
}

.pl5 {
  padding-left: 0.5rem;
}

.pl6 {
  padding-left: 0.6rem;
}

.pl7 {
  padding-left: 0.7rem;
}

.pl8 {
  padding-left: 0.8rem;
}

.pl9 {
  padding-left: 0.9rem;
}

.pl10 {
  padding-left: 1rem;
}

.pl11 {
  padding-left: 1.1rem;
}

.pl12 {
  padding-left: 1.2rem;
}

.pl13 {
  padding-left: 1.3rem;
}

.pl14 {
  padding-left: 1.4rem;
}

.pl15 {
  padding-left: 1.5rem;
}

.pl16 {
  padding-left: 1.6rem;
}

.pl17 {
  padding-left: 1.7rem;
}

.pl18 {
  padding-left: 1.8rem;
}

.pl19 {
  padding-left: 1.9rem;
}

.pl20 {
  padding-left: 2rem;
}

.pl21 {
  padding-left: 2.1rem;
}

.pl22 {
  padding-left: 2.2rem;
}

.pl23 {
  padding-left: 2.3rem;
}

.pl24 {
  padding-left: 2.4rem;
}

.pl25 {
  padding-left: 2.5rem;
}

.pl26 {
  padding-left: 2.6rem;
}

.pl27 {
  padding-left: 2.7rem;
}

.pl28 {
  padding-left: 2.8rem;
}

.pl29 {
  padding-left: 2.9rem;
}

.pl30 {
  padding-left: 3rem;
}

.pt1 {
  padding-top: 0.1rem;
}

.pt2 {
  padding-top: 0.2rem;
}

.pt3 {
  padding-top: 0.3rem;
}

.pt4 {
  padding-top: 0.4rem;
}

.pt5 {
  padding-top: 0.5rem;
}

.pt6 {
  padding-top: 0.6rem;
}

.pt7 {
  padding-top: 0.7rem;
}

.pt8 {
  padding-top: 0.8rem;
}

.pt9 {
  padding-top: 0.9rem;
}

.pt10 {
  padding-top: 1rem;
}

.pt11 {
  padding-top: 1.1rem;
}

.pt12 {
  padding-top: 1.2rem;
}

.pt13 {
  padding-top: 1.3rem;
}

.pt14 {
  padding-top: 1.4rem;
}

.pt15 {
  padding-top: 1.5rem;
}

.pt16 {
  padding-top: 1.6rem;
}

.pt17 {
  padding-top: 1.7rem;
}

.pt18 {
  padding-top: 1.8rem;
}

.pt19 {
  padding-top: 1.9rem;
}

.pt20 {
  padding-top: 2rem;
}

.pt21 {
  padding-top: 2.1rem;
}

.pt22 {
  padding-top: 2.2rem;
}

.pt23 {
  padding-top: 2.3rem;
}

.pt24 {
  padding-top: 2.4rem;
}

.pt25 {
  padding-top: 2.5rem;
}

.pt26 {
  padding-top: 2.6rem;
}

.pt27 {
  padding-top: 2.7rem;
}

.pt28 {
  padding-top: 2.8rem;
}

.pt29 {
  padding-top: 2.9rem;
}

.pt30 {
  padding-top: 3rem;
}

.pr1 {
  padding-right: 0.1rem;
}

.pr2 {
  padding-right: 0.2rem;
}

.pr3 {
  padding-right: 0.3rem;
}

.pr4 {
  padding-right: 0.4rem;
}

.pr5 {
  padding-right: 0.5rem;
}

.pr6 {
  padding-right: 0.6rem;
}

.pr7 {
  padding-right: 0.7rem;
}

.pr8 {
  padding-right: 0.8rem;
}

.pr9 {
  padding-right: 0.9rem;
}

.pr10 {
  padding-right: 1rem;
}

.pr11 {
  padding-right: 1.1rem;
}

.pr12 {
  padding-right: 1.2rem;
}

.pr13 {
  padding-right: 1.3rem;
}

.pr14 {
  padding-right: 1.4rem;
}

.pr15 {
  padding-right: 1.5rem;
}

.pr16 {
  padding-right: 1.6rem;
}

.pr17 {
  padding-right: 1.7rem;
}

.pr18 {
  padding-right: 1.8rem;
}

.pr19 {
  padding-right: 1.9rem;
}

.pr20 {
  padding-right: 2rem;
}

.pr21 {
  padding-right: 2.1rem;
}

.pr22 {
  padding-right: 2.2rem;
}

.pr23 {
  padding-right: 2.3rem;
}

.pr24 {
  padding-right: 2.4rem;
}

.pr25 {
  padding-right: 2.5rem;
}

.pr26 {
  padding-right: 2.6rem;
}

.pr27 {
  padding-right: 2.7rem;
}

.pr28 {
  padding-right: 2.8rem;
}

.pr29 {
  padding-right: 2.9rem;
}

.pr30 {
  padding-right: 3rem;
}

.pb1 {
  padding-bottom: 0.1rem;
}

.pb2 {
  padding-bottom: 0.2rem;
}

.pb3 {
  padding-bottom: 0.3rem;
}

.pb4 {
  padding-bottom: 0.4rem;
}

.pb5 {
  padding-bottom: 0.5rem;
}

.pb6 {
  padding-bottom: 0.6rem;
}

.pb7 {
  padding-bottom: 0.7rem;
}

.pb8 {
  padding-bottom: 0.8rem;
}

.pb9 {
  padding-bottom: 0.9rem;
}

.pb10 {
  padding-bottom: 1rem;
}

.pb11 {
  padding-bottom: 1.1rem;
}

.pb12 {
  padding-bottom: 1.2rem;
}

.pb13 {
  padding-bottom: 1.3rem;
}

.pb14 {
  padding-bottom: 1.4rem;
}

.pb15 {
  padding-bottom: 1.5rem;
}

.pb16 {
  padding-bottom: 1.6rem;
}

.pb17 {
  padding-bottom: 1.7rem;
}

.pb18 {
  padding-bottom: 1.8rem;
}

.pb19 {
  padding-bottom: 1.9rem;
}

.pb20 {
  padding-bottom: 2rem;
}

.pb21 {
  padding-bottom: 2.1rem;
}

.pb22 {
  padding-bottom: 2.2rem;
}

.pb23 {
  padding-bottom: 2.3rem;
}

.pb24 {
  padding-bottom: 2.4rem;
}

.pb25 {
  padding-bottom: 2.5rem;
}

.pb26 {
  padding-bottom: 2.6rem;
}

.pb27 {
  padding-bottom: 2.7rem;
}

.pb28 {
  padding-bottom: 2.8rem;
}

.pb29 {
  padding-bottom: 2.9rem;
}

.pb30 {
  padding-bottom: 3rem;
}

