.header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
}

.logo {
  display: flex;
  align-items: center;
  color: #1C1B1B;
  transition: 0.5s;
}

.logo p {
  font-size: 30px;
}

.logo:hover {
  transform: scale(1.1);
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.menu__li {
  margin-right: 4%;
}

.menu__li:last-child {
  margin-right: 0;
}

.menu__li a {
  font-size: 20px;
  color: #1C1B1B;
  white-space: nowrap;
}

.menu__li a:hover {
  color: #356EAD;
}

.menu__login {
  display: flex;
  align-items: center;
  color: #757575;
  transition: 0.5s;
}

.menu__login:hover {
  transform: scale(1.1);
}

.menu__login p {
  margin-right: 10px;
}

.footer {
  width: 100%;
  background-color: #757575;
  flex: 0 0 auto;
}

.footer__container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.index {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.index__container {
  padding: 20px 2%;
  display: flex;
  justify-content: space-between;
}

.index__left {
  width: 46%;
  margin: 0;
}

.index__right {
  width: 50%;
  margin: 0;
}

.index__svg svg {
  width: 100%;
}

.index h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.index h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.index p {
  font-size: 20px;
  margin-bottom: 5px;
}

.index p span {
  font-weight: bold;
  display: inherit;
  margin-bottom: 3px;
}

.index__login {
  width: 100%;
  display: flex;
  justify-content: center;
}

.index__login a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6AA4FB;
  font-size: 26px;
  padding: 20px;
  border-radius: 30px;
  color: #ffffff;
  transition: 0.5s;
  text-align: center;
}

.index__login a:hover {
  transform: scale(1.1);
}

.congratulation__container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.congratulation__left {
  width: 33%;
}

.congratulation h1 {
  text-align: center;
}

.congratulation__forms {
  margin: 30px 0 0 0;
}

.congratulation__forms input[type=text],
.congratulation__forms input[type=number],
.congratulation__forms input[type=date] {
  width: 300px;
  height: 46px;
  border-radius: 10px;
  border: solid 1px #356EAD;
  outline: none;
  padding: 0 5px;
  font-size: 16px;
}

.congratulation__forms input:active {
  outline: none;
}

.congratulation__forms h3 {
  text-align: left;
  margin-bottom: 10px;
}

.congratulation__user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.congratulation__user:last-child {
  margin-bottom: 0;
}

.congratulation__user svg {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.congratulation__user svg:hover {
  transform: scale(1.1);
}

.congratulation__forms p {
  color: #356EAD;
  font-size: 16px;
  margin: 0 0 20px 90px;
  cursor: pointer;
}

.congratulation__btn {
  margin-left: 47px;
}

.congratulation__form {
  margin-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #1C1B1B;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.btn {
  background-color: #6AA4FB;
  padding: 20px;
  font-size: 18px;
  color: #ffffff;
  outline: none;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}

