@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;

0,700;1,400&display=swap);@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 10px;
  text-align: left;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

/*--------------------*/

.header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
}

.logo {
  display: flex;
  align-items: center;
  color: #1B1B1B;
  transition: 0.5s;
}

.logo p {
  font-size: 30px;
}

.logo:hover {
  transform: scale(1.1);
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__li {
  margin-right: 4%;
}

.menu__li:last-child {
  margin-right: 0;
}

.menu__li a {
  font-size: 20px;
  color: #1B1B1B;
  white-space: nowrap;
}

.menu__li a:hover {
  color: #356EAD;
}

.menu__login {
  display: flex;
  align-items: center;
  color: #757575;
  transition: 0.5s;
}

.menu__login:hover {
  transform: scale(1.1);
}

.menu__login p {
  margin-right: 10px;
}

.footer {
  width: 100%;
  background-color: #757575;
  flex: 0 0 auto;
}

.footer__container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.index {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.index__container {
  padding: 20px 2%;
  display: flex;
  justify-content: space-between;
}

.index__left {
  width: 46%;
  margin: 0;
}

.index__right {
  width: 50%;
  margin: 0;
}

.index__svg svg {
  width: 100%;
}

.index h1 {
  font-size: 40px;
}

.index h2 {
  font-size: 28px;
}

.index p {
  font-size: 16px;
}

.index p span {
  font-size: 18px;
  font-weight: bold;
  display: inherit;
  margin-bottom: 5px;
}

.index__login {
  width: 100%;
  display: flex;
  justify-content: center;
}

.index__login a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6AA4FB;
  font-size: 26px;
  padding: 20px;
  border-radius: 30px;
  color: #ffffff;
  transition: 0.5s;
  text-align: center;
}

.index__login a:hover {
  transform: scale(1.1);
}

.congratulation__container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.congratulation__left {
  width: 33%;
}

.congratulation__right {
  width: 55%;
}

.congratulation h1 {
  text-align: center;
}

.congratulation__forms {
  margin: 30px 0 0 0;
}

.congratulation__forms input[type=text],
.congratulation__forms input[type=number],
.congratulation__forms input[type=date],
.congratulation__forms input[type=email] {
  width: 300px;
  height: 46px;
  border-radius: 10px;
  border: solid 1px #356EAD;
  outline: none;
  padding: 0 5px;
  font-size: 16px;
  color: #757575;
}

.congratulation__forms input {
  margin-bottom: 15px;
}

.congratulation__forms input:last-child {
  margin-bottom: 0;
}

.congratulation__forms input:active {
  outline: none;
}

.congratulation__forms h3 {
  text-align: left;
  margin-bottom: 10px;
}

.congratulation__user {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.congratulation__user:last-child {
  margin-bottom: 0;
}

.congratulation__user svg {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.congratulation__user svg:hover {
  transform: scale(1.1);
}

.congratulation__forms p {
  font-size: 16px;
  margin: 0 0 20px 90px;
  cursor: pointer;
}

.congratulation__btn {
  margin: 30px 0 0 45px;
  transition: 0.5s;
}

.congratulation__btn:hover {
  transform: scale(1.1);
}

.congratulation__form {
  margin-bottom: 15px;
}

.congratulation__search {
  position: absolute;
  top: 44px;
  background-color: #6AA4FB;
  z-index: 100;
  width: 300px;
  padding: 10px 0;
  border-radius: 10px;
}

.congratulation__search p {
  margin: 0 0 8px 0;
  text-align: center;
  font-size: 26px;
}

.congratulation__search p:hover {
  color: #ffffff;
}

.congratulation__search p:last-child {
  margin-bottom: 0;
}

.congratulation__validation p {
  color: red;
}

.congratulation__slide {
  background-size: 100% !important;
  width: 100%;
  height: 100%;
}

.congratulation__slider {
  margin-top: 30px;
}

.congratulation__room {
  margin-top: 30px;
}

.congratulation__room h3 {
  margin-bottom: 10px;
  font-size: 26px;
}

.congratulation__room p {
  font-size: 20px;
  margin-top: 10px;
}

.congratulation__room ul {
  margin-top: 10px;
}

.congratulation__room ul li {
  padding: 3px 0;
}

.congratulation__room-btn {
  display: inline-block;
  margin-top: 15px;
}

.congratulation__room-btn:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Teko", sans-serif;
}

#app {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #1B1B1B;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.ws {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.btn {
  background-color: #6AA4FB;
  padding: 20px;
  font-size: 18px;
  color: #ffffff;
  outline: none;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}

