.fs7 {
  font-size: 0.7rem;
}

.fs8 {
  font-size: 0.8rem;
}

.fs9 {
  font-size: 0.9rem;
}

.fs10 {
  font-size: 1rem;
}

.fs11 {
  font-size: 1.1rem;
}

.fs12 {
  font-size: 1.2rem;
}

.fs13 {
  font-size: 1.3rem;
}

.fs14 {
  font-size: 1.4rem;
}

.fs15 {
  font-size: 1.5rem;
}

.fs16 {
  font-size: 1.6rem;
}

.fs17 {
  font-size: 1.7rem;
}

.fs18 {
  font-size: 1.8rem;
}

.fs19 {
  font-size: 1.9rem;
}

.fs20 {
  font-size: 2rem;
}

.fs21 {
  font-size: 2.1rem;
}

.fs22 {
  font-size: 2.2rem;
}

.fs23 {
  font-size: 2.3rem;
}

.fs24 {
  font-size: 2.4rem;
}

.fs25 {
  font-size: 2.5rem;
}

.fs26 {
  font-size: 2.6rem;
}

.fs27 {
  font-size: 2.7rem;
}

.fs28 {
  font-size: 2.8rem;
}

.fs29 {
  font-size: 2.9rem;
}

.fs30 {
  font-size: 3rem;
}

.fs31 {
  font-size: 3.1rem;
}

.fs32 {
  font-size: 3.2rem;
}

.fs33 {
  font-size: 3.3rem;
}

.fs34 {
  font-size: 3.4rem;
}

.fs35 {
  font-size: 3.5rem;
}

.fs36 {
  font-size: 3.6rem;
}

.fs37 {
  font-size: 3.7rem;
}

.fs38 {
  font-size: 3.8rem;
}

.fs39 {
  font-size: 3.9rem;
}

.fs40 {
  font-size: 4rem;
}

.fw {
  font-weight: 700;
}

.tdef {
  color: #6AA4FB;
}

.twhite {
  color: #FFF;
}

.tgreyd {
  color: #757575;
}

.tblack {
  color: #1B1B1B;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.lhr {
  line-height: 120%;
}

