@import "../variables";
.header {
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: #757575;
  transition: 0.5s;
  & p {
    font-size: 30px;
  }
}

.logo:hover {
    color: $def;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
    align-items: center;
  }
  &__li {
    margin-right: 4%;
  }
  &__li:last-child {
    margin-right: 0;
  }
  &__li a {
    font-size: 16px;
    color: #757575;
    white-space: nowrap;
  }
  &__li a:hover {
    color: $def;
  }
  &__login {
    display: flex;
    align-items: center;
    color: #757575;
    transition: 0.5s;
  }
  &__login:hover {
      color: $def;
  }
  &__login p {
    margin-right: 10px;
  }
}
