@import "../variables";
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  &__container {
    max-width: 500px;
    max-height: 500px;
    min-height: 300px;
    width: 100%;
    border: 2px solid $def;
    border-radius: 10px;
    background: #fdfdfd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
  }
  &__textarea {
    color: #1C1B1B;
  }
  &__btn {
    color: #FFFFFF;
    display: inline-block;
    width: 30%;
    padding: 5px 0;
    font-size: 16px;
    background: $def;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
  }
  &__btn:active, &__btn:focus, &__textarea:focus, &__textarea:active {
    border: none;
    outline: none;
  }
  &__textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    resize: none;
    background: #e7eaed;
    padding: 2%;
  }
  &__messages {
    max-height: 70%;
    overflow-y: scroll;
  }
  &__messages::-webkit-scrollbar, &__textarea::-webkit-scrollbar {
    background-color: #c4c4ca;
    width: 6px;
    border-radius: 10px;
  }
  &__messages::-webkit-scrollbar-thumb {
    background-color: #e41d1d;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }
  &__message {
    margin-bottom: 3px;
    padding-right: 4px;
  }
  &__message:last-child {
    margin-bottom: 0;
  }
}
