@import "../variables";

.congratulation {

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  &__left {
    width: 33%;
  }
  &__right {
    width: 55%;
  }
  & h1 {
    text-align: center;
    font-size: 30px;
  }
  &__forms {
    margin: 30px 0 0 0;
  }
  &__forms input[type=text], &__forms input[type=number],
  &__forms input[type=date], &__forms input[type=email]  {
    width: 300px;
    height: 46px;
    border-radius: 10px;
    border: solid 1px $colorTextHover;
    outline: none;
    padding: 0 5px;
    font-size: 16px;
    color: #757575;
  }
  &__forms input {
    margin-bottom: 15px;
  }
  &__forms input:last-child {
    margin-bottom: 0;
  }
  &__forms input:active {
    outline: none;
  }
  &__forms h3 {
    text-align: left;
    margin-bottom: 10px;
  }
  &__user {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
  }
  &__user:last-child {
    margin-bottom: 0;
  }
  &__user svg {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  &__user svg:hover {
    transform: scale(1.1);
  }
  &__forms p {
    font-size: 16px;
    margin: 0 0 20px 90px;
    cursor: pointer;
  }
  &__btn {
    margin: 30px 0 0 45px;
    transition: 0.5s;
  }
  &__btn:hover {
    transform: scale(1.1);
  }
  &__form {
    margin-bottom: 15px;
  }
  &__search {
    position: absolute;
    top: 44px;
    background-color: #6AA4FB;
    z-index: 100;
    width: 300px;
    padding: 10px 0;
    border-radius: 10px;
    & p {
      margin: 0 0 8px 0;
      text-align: center;
      font-size: 26px;
    }
    & p:hover {
      color: $colorButton;
    }
    & p:last-child {
      margin-bottom: 0;
    }
  }
  &__validation {
    & p {
      color: red;
    }
  }
  &__slide {
    background-size: 100%!important;
    width: 100%;
    height: 100%;
  }
  &__slider {
    margin-top: 30px;
  }
  &__room {
    margin-top: 30px;
    & h3 {
      margin-bottom: 10px;
      font-size: 26px;
    }
    & p {
      font-size: 20px;
      margin-top: 10px;
    }
    & ul {
      margin-top: 10px;
    }
    & ul li {
      padding: 3px 0;
    }
    &-btn {
      display: inline-block;
      margin-top: 15px;
    }
    &-btn:hover {
      transform: scale(1.1);
    }
  }

}
