@import "../variables";
@import "../mixins";

.home {
    margin-bottom: 30px;
    margin-top: 120px;
    width: 100%;

    &__wrapper {
        height: calc(100vh - 90px);
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__text {
        padding-top: 50px;
        margin-bottom: 50px;
        & > ul {
            margin-bottom: 30px;
        }
        & > ul li {
            list-style: url("/public/img/icon-checkmark.svg") outside;
            margin-left: 23px;
            margin-bottom: 15px;
        }
    }
    &__title {
        font-size: 32px;
    }
    &__img {
        width: 100%;
        max-width: 460px;
        @media (min-width: 768px) {
            max-width: 650px;
        }
    }
    &__btn {
        @include btn(220px, 56px)
    }
}
